<div class="container space">
    <div class="jumbotron">
        <h1>Welcome to GPX Viewer</h1>

        <p>Visualize your GPX</p>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Drop your GPX</h2>
            <p>Just drop your GPX file into the drop zone and press Upload</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/imgs/drop.png"/>
        </div>
    </div>
    <div class="row topMargin"></div>
    <div class="row">
        <div class="col-md-6">
            <h2>See the markers on Google Maps</h2>
            <p>Just drop your GPX file into the drop zone and press Upload</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/imgs/map.png"/>
        </div>
    </div>
    <div class="row topMargin"></div>
</div>